
/* Footer Style */

.site-footer .rightcontent {
    height: 100px;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Push footer to below the screen */
main {
    min-height: 100vh; 
}