body .card-item.expanded-card,
body .card-item {
    max-height: 3000px
}

body .card-item.expanded-card .rank-column,
body .card-item .rank-column {
    max-width: calc(100% - 728px)
}

body .card-item.expanded-card .info-column,
body .card-item .info-column {
    max-width: 100%;
    visibility: visible;
    opacity: 1
}

body .card-item.expanded-card .info-column .player-main,
body .card-item .info-column .player-main {
    width: 50%
}

body .card-item.expanded-card .info-column .player-meta,
body .card-item .info-column .player-meta {
    width: 100%
}

body .card-item.expanded-card .info-column .player-meta .medium-column:nth-child(2) div,
body .card-item .info-column .player-meta .medium-column:nth-child(2) div {
    visibility: visible;
    opacity: 1
}

body .card-item.expanded-card .info-column .player-description {
    margin-bottom: 30px
}

body .card-item.expanded-card .info-column .player-info {
    max-height: 1250px;
    opacity: 1
}

body .card-item.expanded-card .info-column .player-info .player-plus-minus {
    visibility: visible;
    opacity: 1
}

body .card-item.expanded-card .info-column .player-meta {
    padding: 48px 0 30px;
    width: 47%
}

body .card-item.expanded-card .info-column .player-meta .medium-column {
    width: 100%;
    float: none;
    padding-right: 0
}

body .card-item.expanded-card .info-column .player-meta .medium-column:first-of-type {
    padding-right: 0
}

body .card-item.expanded-card .info-column .player-meta .medium-column:nth-child(2) {
    padding-left: 0
}

.card-item {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    max-height: 145px;
    border-radius: .625rem;
    border: .00875rem solid #ccc;
    margin-bottom: 30px;
    background: #f5f5f5;
    font-weight: 400
}

body:not(.large) .card-item.has-hover:hover .rank-column {
    filter: grayscale(0%);
}

body:not(.large) .card-item.has-hover:not(.expanded-card) .rank-column {
    filter: grayscale(100%);
}

.card-item:hover .toggle-card {
    animation-name: bounce;
    -moz-animation-name: bounce
}

.card-item .wrapper {
    height: 100%
}

.card-item .wrapper:after {
    content: '';
    clear: both;
    display: table
}

.card-item h3 {
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    font-family: "eloquent-jf-pro", serif;
    font-style: italic;
}

.card-item h6 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12.5px;
    letter-spacing: .1em;
    margin-bottom: 7.5px
}

.card-item .rank-column {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 18.25%;
    /* padding: 30px; */
    border-right: 1px solid #f5f5f5;
    background-size: 20%;
    overflow: hidden;

    display: flex;
    justify-content: center;
}

.card-item .info-column {
    float: right;
    padding: 30px 30px 30px 0;
    width: 100%;
    min-width: 728px;
    max-width: 81.75%;
    opacity: 1
}

.card-item .info-column .medium-show {
    padding-left: 30px
}

.card-item .info-column .player-description {
    clear: both;
    margin: 30px 0 0;
    font-size: 14px;
    padding-right: 40px
}

.card-item .info-column .player-description .player-headline {
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 7.5px;
    font-weight: 100;
    padding-top: 15px;
}

.card-item .info-column .player-main {
    float: left;
    max-width: 47.5%
}

.card-item .info-column .player-meta {
    visibility: visible;
    opacity: 1;
    float: left;
    width: 47%;
    clear: left
}

.card-item .info-column .player-meta .medium-column {
    overflow: hidden; 
    width: 50%;
    float: left; 
}

.card-item .info-column .player-meta .medium-column:nth-child(2) {
    padding-left: 15px;
}

.card-item .info-column .player-meta .medium-column div {
    position: relative;
    visibility: visible;
    opacity: 1;
    margin: 1px 0;
    font-size: 14px
}

.card-item .info-column .player-meta .medium-column div:first-of-type {
    visibility: visible;
    opacity: 1
}

.card-item .info-column .player-meta .medium-column div:after {
    content: '........................................................................................................................................................';
    display: block;
    clear: both;
    position: absolute;
    z-index: 1;
    bottom: 4px;
    font-size: 7px;
    font-weight: 500;
    letter-spacing: .15em
}

.card-item .info-column .player-meta .medium-column div .label {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12.5px;
    letter-spacing: .1em;
    position: relative;
    background: #f5f5f5;
    z-index: 2;
    padding-right: 4px
}

.card-item .info-column .player-meta .medium-column div .value {
    position: relative;
    float: right;
    background: #f5f5f5;
    z-index: 2;
    padding: 0 0 0 4px;
    font-size: 13.5px;
    font-weight: 400
}

.card-item .info-column .player-meta:after {
    content: '';
    display: table;
    clear: both
}

.card-item .info-column .player-info {
    overflow: hidden;
    max-height: 0;
    padding-top: 0;
    padding-left: 30px;
    clear: both;
    opacity: 0;
    max-height: 0
}

.card-item .info-column .player-plus-minus h6 {
    border-bottom: 1px solid #111
}

.card-item .info-column .player-plus-minus h6:first-of-type {
    max-width: calc(100%)
}

.card-item .toggle-card {
    height: 32px;
    width: 32px;
    position: absolute;
    right: 29px;
    bottom: 28px;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1
}

.card-item.expanded-card .medium-column {
    opacity: 1
}

.card-item.expanded-card .toggle-card {
    bottom: 28px
}

.card-item.expanded-card .toggle-card svg {
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg)
}

@media (min-width: 1500px) {
    body .card-item.expanded-card .rank-column,
    body .card-item .rank-column {
        max-width: 200px;
    }

    body .card-item.expanded-card .info-column,
    body .card-item .info-column {
        max-width: calc(100% - 200px);
    }
}

@media (min-width:1023px) {
    .card-item .rank-column {
        -webkit-border-top-left-radius: .625rem;
        -webkit-border-bottom-left-radius: .625rem;
        -moz-border-radius-topleft: .625rem;
        -moz-border-radius-bottomleft: .625rem;
        border-top-left-radius: .625rem;
        border-bottom-left-radius: .625rem
    }

    body:not(.mobile) .card-item {
        -webkit-transition: max-height 325ms ease-out, .5s;
        -moz-transition: max-height 325ms ease-out, .5s;
        -ms-transition: max-height 325ms ease-out, .5s;
        -o-transition: max-height 325ms ease-out, .5s;
        transition: max-height 325ms ease-out, .5s
    }

    body:not(.mobile) .player-info {
        -webkit-transition: max-height .5s ease-out, .25s;
        -moz-transition: max-height .5s ease-out, .25s;
        -ms-transition: max-height .5s ease-out, .25s;
        -o-transition: max-height .5s ease-out, .25s;
        transition: max-height .5s ease-out, .25s
    }
}

@media (max-width:1023px) {
    .card-item .rank-column {
        height: 210px;
        background-size: 10%;
        border-right: 0 !important;
        -webkit-border-top-left-radius: .625rem;
        -moz-border-radius-topleft: .625rem;
        -moz-border-radius-topright: .625rem;
        border-top-left-radius: .625rem;
        border-top-right-radius: .625rem;
        justify-content: end;
    }

    .card-item .info-column .player-headline {
        padding-top: 15px
    }

    body .card-item.expanded-card,
    body .card-item {
        max-height: 100%
    }

    .card-item.expanded-card .rank-column,
    .card-item .rank-column {
        width: 100%;
        max-width: 100% !important;
        position: relative;
        overflow: hidden; 
        float: none;
        height: 100px !important
    }

    body .card-item.expanded-card .info-column,
    body .card-item .info-column {
        width: 100%;
        max-width: 100%;
        min-width: unset;
        padding-left: 0;
    }

    body .card-item.expanded-card {
        max-height: 100%;
        height: auto
    }

    body .card-item.expanded-card .rank-column {
        width: 100%;
        max-width: 100%;
        position: relative;
        overflow: hidden
    }

    body .card-item.expanded-card .info-column {
        float: none;
        width: 100%;
        max-width: 100%;
        padding-right: 30px
    }

    body .card-item.expanded-card .info-column .player-description {
        display: block
    }

    body .card-item.expanded-card .info-column .player-meta {
        padding: 45px 0 30px
    }

    body .card-item.expanded-card .info-column .player-meta .medium-column {
        width: 100%;
        float: none;
        padding-right: 0
    }

    body .card-item.expanded-card .info-column .player-meta .medium-column:first-of-type {
        display: block;
        padding-right: 0
    }

    body .card-item.expanded-card .info-column .player-meta .medium-column:nth-child(2) {
        display: block;
        padding-left: 0
    }

    body .card-item.expanded-card .info-column .player-description {
        margin-bottom: 30px
    }

    body .card-item.expanded-card .info-column .player-info {
        display: block
    }
}

@media (max-width:767px) {
    .card-item {
        max-width: 100%;
        margin-bottom: 20px
    }

    .card-item .rank-column {
        position: relative;
        top: auto;
        left: auto;
        bottom: auto;
        right: auto;
        width: 100%;
        max-width: 100%;
        max-height: 220px;
        height: 220px;
        overflow: hidden;
        /* padding: 30px 20px; */
        -webkit-transition: all, 0s, linear, 0s;
        -moz-transition: all, 0s, linear, 0s;
        -ms-transition: all, 0s, linear, 0s;
        -o-transition: all, 0s, linear, 0s;
        transition: all, 0s, linear, 0s
    }

    .card-item .info-column {
        width: 100%;
        max-width: 100%;
        float: none;
        min-width: auto;
        padding: 20px 15px
    }

    .card-item .info-column h3 {
        font-size: 18px
    }

    .card-item .info-column .player-main {
        width: 100%;
        max-width: 100%
    }

    .card-item .info-column .player-meta {
        padding: 30px 0 0;
        width: 100%;
        float: none;
        margin-bottom: 30px;
        clear: both
    }

    .card-item .info-column .player-meta .medium-column {
        width: 100%;
        float: none
    }

    .card-item .info-column .player-meta .medium-column:nth-child(2) {
        padding-left: 0px;
    }

    .card-item .info-column .player-description {
        padding-right: 0
    }

    .card-item .info-column .player-description .player-headline {
        font-size: 15px;
    }

    .card-item .info-column .player-info {
        display: none;
        overflow: visible;
        padding-left: 0
    }

    .card-item .info-column .player-plus-minus h6,
    .card-item .info-column .player-plus-minus h6:first-of-type {
        max-width: 100%
    }

    .card-item .info-column .medium-show {
        padding-left: 0
    }

    .card-item .toggle-card {
        bottom: 20px;
        right: 20px
    }

    body.medium .card-item .info-column {
        padding-bottom: 60px;
        padding-left: 15px
    }

    body .card-item.expanded-card .rank-column,
    body .card-item .rank-column {
        max-width: 100%
    }

    body .card-item.expanded-card .info-column .player-main,
    body .card-item .info-column .player-main {
        width: 100%;
        max-width: 100%;
        padding-bottom: 15px
    }

    body .card-item.expanded-card .info-column .player-meta,
    body .card-item .info-column .player-meta {
        padding: 15px 0
    }

    body .card-item.expanded-card {
        padding: 0
    }

    body .card-item.expanded-card .rank-column {
        position: relative;
        top: auto;
        left: auto;
        bottom: auto;
        right: auto;
        width: 100%;
        max-width: 100%;
        max-height: 220px;
        height: 210px !important;
        overflow: hidden;
        padding: 30px 0px;
    }

    body .card-item.expanded-card .info-column {
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
        width: 100%
    }

    body .card-item.expanded-card .info-column .player-info {
        display: block;
        max-height: 100%
    }

    body .card-item.expanded-card .info-column .player-meta {
        width: 100%;
        max-width: 100%
    }

    body .card-item.expanded-card .info-column .player-meta .medium-column {
        display: block !important
    }

    body .card-item.expanded-card .toggle-card {
        top: auto;
        bottom: 10px;
        -moz-transform: translateY(0) rotate(-180deg);
        -o-transform: translateY(0) rotate(-180deg);
        -ms-transform: translateY(0) rotate(-180deg);
        -webkit-transform: translateY(0) rotate(-180deg);
        transform: translateY(0) rotate(-180deg)
    }
}

@keyframes bounce {
    0%,100%,20%,50%,80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }

    40% {
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px)
    }

    60% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px)
    }
}